<!DOCTYPE html>
<html>
  <head>
    <title>BoaPesca</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Menu Button -->
    <div class="mobile-lateral-menu">
      <button class="navbar-toggler">
        <%= image_tag 'programming' %>
      </button>
    </div>

    <div class="row application_row">
      <div class="col-md-3">
        <%= render 'shared/lateral_menu' %>
      </div>

      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

